@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.table-style {
    background: url("images/mee-letterhead.png");
    /* background: red; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 25px 0 25px;
    width: fit-content;
    height: 100vh;
    display: flex;
    align-items: space-between;
    justify-content: center;
}